---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=db22984b051ea86c256da7ea611a3f90&exclude=minutely&lat=33.44&lon=-94.04&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636843725,"sunrise":1636807567,"sunset":1636845304,"temp":55.83,"feels_like":52.75,"pressure":1022,"humidity":35,"dew_point":29.01,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.99,"wind_deg":270,"wind_gust":4,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1636840800,"temp":56.05,"feels_like":53.01,"pressure":1022,"humidity":35,"dew_point":29.17,"uvi":0.57,"clouds":1,"visibility":10000,"wind_speed":4.45,"wind_deg":279,"wind_gust":6.49,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636844400,"temp":55.83,"feels_like":52.75,"pressure":1022,"humidity":35,"dew_point":29.01,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.41,"wind_deg":240,"wind_gust":4.43,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636848000,"temp":54.41,"feels_like":51.33,"pressure":1022,"humidity":38,"dew_point":29.68,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.12,"wind_deg":235,"wind_gust":5.12,"weather":[{"id":800,"main":"Clea[...]
