---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81-CRSvdYzNLdBSTRSB4vD92JfbcpE"
    body:
      encoding: UTF-8
      string: '{"activity":"Take a bubble bath","type":"relaxation","participants":1,"price":0.15,"link":"","key":"2581372","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:23:41 GMT
recorded_with: VCR 6.0.0
