---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78-tZHpEjYTiXlvBBUX8OzulbytI3Q"
    body:
      encoding: UTF-8
      string: '{"activity":"Write a poem","type":"recreational","participants":1,"price":0,"link":"","key":"8688620","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:24:16 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-AlpiqxsqLp8iEi7V+Jx+b7Qb+4Q"
    body:
      encoding: UTF-8
      string: '{"activity":"Shred old documents you don''t need anymore","type":"busywork","participants":1,"price":0,"link":"","key":"2430066","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:24:18 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90-fwLust8Pwf3PmjZEQpc5t1C/uQo"
    body:
      encoding: UTF-8
      string: '{"activity":"Prepare a dish from a foreign culture","type":"cooking","participants":1,"price":0.2,"link":"","key":"8061754","accessibility":0.3}'
  recorded_at: Mon, 15 Nov 2021 17:24:21 GMT
recorded_with: VCR 6.0.0
