---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=wtEohmjDirHJc2okJnbUPTHXfJ32FAI4&location=Prospect%20Creek,AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:15:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Prospect
        Creek,AK"},"locations":[{"street":"Prospect Street & Center Creek Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Nome","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"99762","geocodeQualityCode":"I1CCA","geocodeQuality":"INTERSECTION","dragPoint":false,"sideOfStreet":"N","linkId":"US/XSTR/p0/3199242","unknownInput":"","type":"s","latLng":{"lat":64.5066,"lng":-165.42293},"displayLatLng":{"lat":64.5066,"lng":-165.42293},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wtEohmjDirHJc2okJnbUPTHXfJ32FAI4&type=map&size=225,160&locations=64.5066,-165.42293|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-756798020"},{"street":"Center
        Creek Road & Prospect Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Nome","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"99762","geocodeQualityCode":"I1CCA","geocodeQuality":"INTERSECTION","dragPoint":false,"sideOfStreet":"N","linkId":"US/XSTR/p2/3200459","unknownInput":"","type":"s","latLng":{"lat":64.51568,"lng":-165.42113},"displayLatLng":{"lat":64.51568,"lng":-165.42113},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wtEohmjDirHJc2okJnbUPTHXfJ32FAI4&type=map&size=225,160&locations=64.51568,-165.42113|marker-sm-50318A-2&scalebar=true&zoom=15&rand=1675672279"}]}]}'
  recorded_at: Mon, 15 Nov 2021 17:15:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=db22984b051ea86c256da7ea611a3f90&exclude=minutely&lat=64.5066&lon=-165.42293&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":64.5066,"lon":-165.4229,"timezone":"America/Nome","timezone_offset":-32400,"current":{"dt":1636996533,"sunrise":1637004927,"sunset":1637027853,"temp":-2.18,"feels_like":-12.46,"pressure":1020,"humidity":78,"dew_point":-6.83,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":20,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1636995600,"temp":-2.18,"feels_like":-13.41,"pressure":1020,"humidity":78,"dew_point":-6.83,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.23,"wind_deg":37,"wind_gust":4.41,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1636999200,"temp":-1.14,"feels_like":-12.64,"pressure":1020,"humidity":82,"dew_point":-4.88,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":5.55,"wind_deg":35,"wind_gust":4.65,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1637002800,"temp":-0.11,"feels_like":-11.45,"pressure":1020,"humidity":85,"dew_point":-3.19,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":5.57,"wind_deg":28,"wind_gust":5.37,"weather":[{"id":801,"main":"[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81-CRSvdYzNLdBSTRSB4vD92JfbcpE"
    body:
      encoding: UTF-8
      string: '{"activity":"Take a bubble bath","type":"relaxation","participants":1,"price":0.15,"link":"","key":"2581372","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:15:36 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-sfUbW7aUsW1wujXpu8HPUQYI+/4"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a meal plan for the coming week","type":"cooking","participants":1,"price":0,"link":"","key":"3491470","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:15:39 GMT
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-KMvPHiVV22dD2LIGFYF4sWsF714"
    body:
      encoding: UTF-8
      string: '{"activity":"Make homemade ice cream","type":"cooking","participants":1,"price":0.2,"link":"","key":"3818400","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 17:15:44 GMT
recorded_with: VCR 6.0.0
