---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=wtEohmjDirHJc2okJnbUPTHXfJ32FAI4&location=Richmond,VA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 18:07:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Richmond,VA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Richmond","adminArea5Type":"City","adminArea4":"Richmond
        City","adminArea4Type":"County","adminArea3":"VA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039420","unknownInput":"","type":"s","latLng":{"lat":37.540759,"lng":-77.433932},"displayLatLng":{"lat":37.540759,"lng":-77.433932},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wtEohmjDirHJc2okJnbUPTHXfJ32FAI4&type=map&size=225,160&locations=37.540759,-77.433932|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1270207133"}]}]}'
  recorded_at: Mon, 15 Nov 2021 18:07:50 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=db22984b051ea86c256da7ea611a3f90&exclude=minutely&lat=37.540759&lon=-77.433932&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5408,"lon":-77.4339,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636999671,"sunrise":1636976991,"sunset":1637013550,"temp":51.6,"feels_like":48.4,"pressure":1018,"humidity":41,"dew_point":29.08,"uvi":2.04,"clouds":20,"visibility":10000,"wind_speed":8.99,"wind_deg":239,"wind_gust":17,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1636999200,"temp":51.6,"feels_like":48.4,"pressure":1018,"humidity":41,"dew_point":29.08,"uvi":2.04,"clouds":20,"visibility":10000,"wind_speed":10.16,"wind_deg":281,"wind_gust":18.03,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1637002800,"temp":51.76,"feels_like":48.47,"pressure":1018,"humidity":39,"dew_point":28.13,"uvi":1.52,"clouds":19,"visibility":10000,"wind_speed":9.4,"wind_deg":287,"wind_gust":16.8,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1637006400,"temp":52.07,"feels_like":48.67,"pressure":1018,"humidity":36,"dew_point":26.65,"uvi":0.81,"clouds":17,"visibility":10000,"wind_speed":9.6,"wind_deg":284,"wind_gust":17.25,"weather":[{"id":801,"ma[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-JbFu+LMV+jFjwnWr5c0DNGI26co"
    body:
      encoding: UTF-8
      string: '{"activity":"Watch a movie you''d never usually watch","type":"relaxation","participants":1,"price":0.15,"link":"","key":"9212950","accessibility":0.15}'
  recorded_at: Mon, 15 Nov 2021 18:07:54 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91-Xwiuy/oP9LlS8OFJCztMjZ3LW/s"
    body:
      encoding: UTF-8
      string: '{"activity":"Resolve a problem you''ve been putting off","type":"busywork","participants":1,"price":0,"link":"","key":"9999999","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 18:07:56 GMT
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-6aJI2SECLf6o89W6zh5vd0ARRbA"
    body:
      encoding: UTF-8
      string: '{"activity":"Clean out your car","type":"busywork","participants":1,"price":0,"link":"","key":"2896176","accessibility":0.08}'
  recorded_at: Mon, 15 Nov 2021 18:08:02 GMT
recorded_with: VCR 6.0.0
